{% extends "layouts/base.html" %}

{% block title %} Dashboard {% endblock %} 

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- [ Main Content ] start -->
    <div class="pcoded-main-container">
        <div class="pcoded-wrapper">

            <div class="pcoded-content">
                <div class="pcoded-inner-content">
                    <!-- [ breadcrumb ] start -->

                    <!-- [ breadcrumb ] end -->
                    <div class="main-body">
                        <div class="page-wrapper">
                            <!-- [ Main Content ] start -->
                            <div class="row">
                                <!--[ Start Simulation ] start -->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Start Simulation</h5>
                                            <hr>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="Input_X_Length">X-Length World</label>
                                                            <input type="text" class="form-control" id="Input_X_Length" placeholder="100">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Input_Y_Length">Y-Length World</label>
                                                            <input type="text" class="form-control" id="Input_Y_Length" placeholder="100">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Number_Creatures">Number of Creatures</label>
                                                            <input type="text" class="form-control" id="Number_Creatures" placeholder="15">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Number_Food">Number of Food</label>
                                                            <input type="text" class="form-control" id="Number_Food" placeholder="100">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Number_Generation">Number of Generations</label>
                                                            <input type="text" class="form-control" id="Number_Generation" placeholder="10">
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Start Simulation</button>
                                                    </form>
                                                </div>
                                                <div class="col-md-6">
                                                    <form>
                                                        <div class="form-group">
                                                            <label for="Multiplier_Energy">Multiplier for Energy</label>
                                                            <input type="text" class="form-control" id="Multiplier_Energy" placeholder="0.1">
                                                        </div>
                                                        <div class="form-group">
                                                            <label for="Multiplier_Sensor">Multiplier for Sensor Radius</label>
                                                            <input type="text" class="form-control" id="Multiplier_Sensor" placeholder="0.1">
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!--[ Start Simulation ] end -->
                                <!--[ Recent Simulations ] start-->
                                <div class="col-xl-12 col-md-6">
                                    <div class="card">
                                        <div class="card-header">
                                            <h5>Simulationen</h5>
                                        </div>
                                        <div class="card-block px-0 py-3">
                                            <div class="table-responsive">
                                                <table class="table table-hover">
                                                    <tbody>
                                                        {% for simulation in simulations %}
                                                            <tr class="unread">
                                                                <td>
                                                                    <h6 class="mb-1">Simulation {{simulation.id}}</h6>
                                                                </td>
                                                                <td>
                                                                    <h6 class="text-muted"><i class="fas fa-circle text-c-green f-10 m-r-15"></i>{{simulation.number_of_worlds}} Generations</h6>
                                                                </td>
                                                                <td>
                                                                    <a href="simulation/{{simulation.id}}" class="label theme-bg text-white f-12">Open</a>
                                                                    <a href="#!" class="label theme-bg2 text-white f-12">Delete</a>
                                                                </td>
                                                            </tr>
                                                        {% endfor %}
                                                    
                                                    
                                                </table>
                                            </div>
                                        </div>
                                    </div>
                                </div>                                
                                <!--[ Recent Simulations ] end-->
                            </div>
                            <!-- [ Main Content ] end -->
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <!-- [ Main Content ] end -->            

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
